/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: right;
  width: $header-right--width;

  @media only screen and (max-width: 1340px) {
    width: 740px;
  }

  @media only screen and (max-width: 1023px) {
    width:auto;
    display:inline-block;
    position: absolute;
    right: 50px;
    z-index: 20;

    .wrap {
      padding:0;
    }

    .menu-toggle {
      background:none;
      color:#fff;
      margin-top:30px;
    }
  }
}