/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings--font-family;
  font-weight: 600;
  line-height: $headings--line-height;
  margin: 0 0 10px;
}

h1 {
  @include rem( font-size, $h1--font-size );
  color:$white;
  text-shadow:7px 7px 0 #511414;
  text-transform:uppercase;

  @include media($breakpoint__screen-size--medium) {
    @include rem( font-size, 70px );
  }
}

h2 {
  @include rem( font-size, $h2--font-size );
  color:$red;
}

h3 {
  @include rem( font-size, $h3--font-size );
}

h4 {
  @include rem( font-size, $h4--font-size );
}

h5 {
  @include rem( font-size, $h5--font-size );
}

h6 {
  @include rem( font-size, $h6--font-size );
}

.subheadline {
  color:#511414;
  font-family:$font-family--museo;
  font-weight:700;
  @include rem( font-size, $h3--font-size );

}

@include media($breakpoint__screen-size--smaller) {
  h1 {
    @include rem( font-size, 50px );
    text-shadow:4px 4px 0 #511414;
    text-transform:uppercase;
  }

  h2 {
    @include rem( font-size, 36px );
  }

  .subheadline {
    @include rem( font-size, 18px );
  }
}