/* # Newsletter Styling
--------------------------------------------- */

.newsletter {
  max-width:100%;
  padding:100px 50px;

  .text-inner {
    padding:100px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    background-color:$yellow;
    position:relative;


    .overlay {
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      background-image: url(assets/images/pipes.png);
      background-size:contain;
      opacity:.3;

    }
  }

  h2 {
    position:relative;
  }

  p {
    margin-bottom:2em;
    position:relative;
  }

  form {
    display:flex;
    position:relative;

    p {
      margin-bottom:0;
    }

    .wpcf7-submit {
      width:130px;
      margin-left:25px;
    }
  }

}