/* # Parallax Styling
--------------------------------------------- */

.parallax-block {
  .parallax-text-inner {
    padding:200px 50px;
    text-align:center;
  }

  p {
    color:#fff;
    text-shadow:1px 1px 3px #000;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    @include rem( font-size, $h3--font-size );
    margin-bottom:3em;
  }

  .button {
    background:$yellow;
  }
}